.container {
  display: grid;
  grid-template-areas:
    'img  location'
    'img description';
  width: 100%;
}

.imageContainer {
  border-radius: 5px;
  grid-area: img;
  margin-right: 20px;
  overflow: hidden;
  width: 125px;
  height: 10.5rem;
  display: flex;
  justify-content: center;
}
.image {
  height: 100%;
}

.locationContainer {
  grid-area: location;
  display: flex;
  gap: 5px;
  align-items: flex-end;
  height: 2rem;
}

.icon {
  height: 1rem;
  padding-bottom: 2px;
}
.country {
  font-size: 0.72rem;
  font-weight: 400;
  white-space: nowrap;
}
.location,
.location:visited {
  height: fit-content;
  color: #918e9b;
  justify-content: start;
  padding-left: 10px;
  font-size: 0.75rem;
  font-weight: 400;
}

.descriptionContainer {
  grid-area: description;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.5rem;
  font-weight: 700px;
  padding-bottom: 10px;
}

.date {
  font-size: 0.8rem;
  font-weight: 700;
}
.description {
  font-size: 0.7rem;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
