footer {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f55a5a;
  height: 2rem;
  width: 30rem;
  padding: 5px;
}
a {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
  width: 100%;
  justify-content: center;
  text-decoration: none;
}

.creator > p {
  color: white;
  font-size: 0.7rem;
}
strong {
  font-size: 1rem;
  color: black;
}
.atribution > p {
  color: white;
  font-size: 0.6rem;
  text-align: center;
}
.span {
  font-size: 0.7rem;
  font-weight: bold;
  color: black;
}

.gitLogo {
  height: 2rem;
}
