.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #f55a5a;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 30rem;
  box-shadow: 1px 1px 3px 1px rgba(128, 128, 128, 0.767);
  padding: 3px 0px 5px 0px;
}

.headerLogo {
  height: 1.8rem;
}

.headerText {
  color: white;
  font-weight: 600;
  font-size: 0.9rem;
}
